/*PROPERTIES PANEL*/

.properties-panel h2 {
    margin: .5rem 0 1.5rem 0;
    font-size: 1.125rem;
}

.properties-panel h3 {
    margin: 1.75rem 0 1rem 0;
    font-size: 1rem;
}

.properties-panel {
    width: 240px;
    border-right: 1px solid rgba(0,0,0,0.15);
    padding: 1.25rem 1.25rem 5.5rem 1.25rem;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    flex-shrink: 0;
    position: relative;
    background-color: rgba(0,0,0,0.025);
}

.properties-panel h3:first-of-type {
    margin: 0 0 1rem 0;
}

.properties-panel label {
    display: block;
    margin: 1rem 0 .25rem 0;
    font-size: .825rem;
    font-weight: bold;
}

.properties-panel input {
    width: 100%;
    box-sizing: border-box;
    padding: .5rem 0 .5rem .75rem;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,0.15);
    font-size: .825rem;
}

.properties-panel input[type="color"] {
    width: revert;
    box-sizing: border-box;
    padding: .25rem;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,0.15);
}

.properties-button {
    position: fixed;
    bottom: 0;
    width: 239px;
    background-color: white;
    left: 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0,0,0,0.15);
}

.properties-button button {
    margin: .75rem 0;
}

select {
  font-size: .825rem;
  padding: .5rem .75rem;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: .25rem;
  background-color: #fff;
  appearance: none; /* Removes the default arrow for some browsers */
  -webkit-appearance: none; /* Removes the default arrow for WebKit-based browsers */
  moz-appearance: none; /* Removes the default arrow for Firefox */
  cursor: pointer;
  width: 100%;
}

.main-page.expanded, header.expanded {
  left: 0;
}

header.expanded .toggle-panel-btn img {
  transform: rotate(180deg);
}

/* Add custom arrow */
select.custom-arrow {
  background-image: url("images/icon_arrow.png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 12px center;
  padding-right: 36px; /* Add extra padding to prevent the text from overlapping the arrow */
}

/* Change select menu styling on focus */
select:focus {
  outline: none;
  border-color: #0077cc;
}

/*MAIN PAGE*/

body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
    color: #333;
}

h1 {
    font-size: 1.125rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    max-width: 640px;
    width: 100%;
}

h1, h2, h3 {
    font-family: ${selectedHeadingFontFamily};
    line-height: 1.2;
}

.intro-section h2 {
    font-size: 3.5rem;
    margin: 0;
    width: 85%;
}

.main-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    padding: 1rem 0;
    left: 240px;
    right: 0;
    background-color: white;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

header button {
    margin: 0;
}

.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.intro-section button {
    margin: 1rem 0 0 0;
}

button {
    border: 1px solid rgba(0,0,0,0.15);
    background-color: white;
    color: #333;
    padding: .75rem 1.125rem;
    border-radius: .25rem;
    cursor: pointer;
    width: max-content;
    margin: 1rem 0;
    font-weight: bold;
    font-size: .875rem;
}

button.primary {
    background-color: #333;
    color: white;
    border: none;
}

button.primary.main-page-element {
    background-color: ${selectedPrimaryColor};
}

.description {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.description h3 {
    margin: 0 0 .5rem 0;
    font-size: 2rem;
}

.description p {
    margin: .5rem 0;
}

.card:first-of-type {
    padding-top: 0;
}

.card {
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
}

.feature-section svg {
    width: 50%;
    max-width: 768px;
    margin: 0 0 0 2rem;
    border-radius: .25rem;
}

.flip {
    order: 2;
}

.flip + svg {
    margin: 0 2rem 0 0;
}

.highlight-section .card {
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.highlight-section .description {
    width: 100%;
    align-items: center;
    text-align: center;
}

.highlight-section svg {
    max-width: 768px;
    width: 100%;
    margin: 1rem 0 0 0;
    border-radius: .25rem;
}

.feature-section, .highlight-section {
    margin-bottom: 2rem;
}

footer p {
    font-size: .75rem;
}

@media only screen and (max-width: 960px) {
    .intro-section h2 {
        font-size: 3rem;
        width: 95%;
    }
}

@media only screen and (max-width: 768px) {
    .intro-section h2 {
        font-size: 2.5rem;
        width: 100%;
    }

    .flip {
        order: 0;
    }

    .card {
        flex-direction: column;
    }

    .description {
        width: 100%;
    }

    .feature-section svg {
        width: 100%;
    }
}

