<!doctype html>

<!-- Hey there! Thanks for taking a closer look at the code 😎
This project is a work IN-PROGRESS! If you'd like to help make
it better  - i.e. more accessible, align closer with
W3C/WHATWG Standards, etc - please consider contributing 🙏 -->

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="Glenn Sorrentino">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <meta http-equiv="onion-location" content="http://egonv4vxnya3qlycvsaxfr2vostxmwrq6omjzukzik6vvbicie6pdwyd.onion/" /> --> <!-- Use the meta tag for your onion address if your hosting provider restricts changing your server's content security headers. -->
	<meta name="description" content="The Simple Design System is a research-based framework for creating lightweight, usable, accessible, and beautiful web experiences."> <!-- Keep the description to around 20 words or 150 characters so it displays fully on Google search results. -->

	<title>Secondary Page Template - Simple Design System</title>

	<link rel="icon" type="image/x-icon" href="../design-system/images/favicon/favicon.ico">
	<link rel="stylesheet" href="../design-system/css/style.css">

	<script src="../design-system/js/jquery-min.js"></script>
	<script src="../design-system/js/design-system.js"></script>
</head>

<body>
	<a href="#content" class="skiplink btn btnLrg primaryBtn">Skip to content</a>
	<div class="banner">
		<p>❤️ Is this resource helpful? <a href="https://patreon.com/glennsorrentino" target="_blank" rel="noopener noreferrer">Support me on Patreon</a>!</p>
		<button class="bannerBtn" aria-label="Close banner" aria-expanded="true"></button>
	</div>
	<header>
		<div class="wrapper">
			<div class="logo">
				<div class="logoMark"></div>
				<h1><a href="#">Simple Design System</a></h1>
			</div>
			<nav>
				<button class="mobileNav btnIcon" aria-label="Expand mobile navigation" aria-expanded="false"></button>
				<ul>
					<li><a class="wrapper" href="https://github.com/glenn-sorrentino/design-system/blob/main/design-system/components/header/html/header.html" target="_blank" rel="noopener noreferrer">View Code</a></li>
					<li><a class="wrapper" href="secondary.html">Secondary Page</a></li>
					<li><a class="wrapper" href="article.html">Article</a></li>
					<li><a class="btn btnLrg" href="signin.html">Sign In</a></li>
				</ul>
				<a class="btn btnLrg primaryBtn" href="https://github.com/glenn-sorrentino/design-system" target="_blank" rel="noopener noreferrer">Contribute</a>
			</nav>
		</div>
	</header>

	<main id="content">

		<section class="intro secondaryIntro">
			<div class="wrapper">
				<h2>Secondary Intro Heading</h2>
			</div>
			<div class="tabs wrapper">
				<nav>
					<ul>
						<li><a href="#References">References</a></li>
						<li><a href="#publisher">Publisher Information</a></li>
						<li><a href="#About">About the Author</a></li>
					</ul>
				</nav>
			</div>
		</section>

		<div class="statementContainer">
			<div class="wrapper">
				<div class="statement description">
					<p>The goal of this design system is to <span class="highlight">enable anyone to quickly build and deploy great web experiences</span>. Designed with privacy in mind and optimized for Tor Browser, there's minimal javascript, PNG images, and no externally loaded resources.</p> <p class="meta"><a href="https://github.com/scidsg/design-system/tree/main/design-system/components/statement" target="_blank" rel="noopener noreferrer">View component</a></p>
				</div>
			</div>
		</div>

		<section id="section1">
			<div class="wrapper">
				<h3>Overview Section</h3>
				<div class="group">
					<div class="description">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text.">
						<h4>Feature Headline</h4>
						<p>On individual components you'll see a "View Component" link. That brings you to the documentation on Github.</p>
						<p class="meta"><a href="https://github.com/scidsg/design-system/blob/main/design-system/components/content/html/content-group.html" target="_blank" rel="noopener noreferrer">View Component</a></p>
					</div>
					<img src="../design-system/images/placeholder/image.png" alt="Unless the image is decorative, add alt text 1.">
				</div>
				<div class="group">
					<div class="description flip">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 2.">
						<h4>Item With Metadata</h4>
						<p class="meta">🏅 <a href="#" target="_blank"  rel="noopener noreferrer">Linked Metadata</a></p>
						<p>Including metadata like author attribution, published date, or price brings relevant context forward.</p>
					</div>
					<img src="../design-system/images/placeholder/image.png" alt="Unless the image is decorative, add alt text 3.">
				</div>
				<div class="group">
					<div class="description">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 4.">
						<h4>Mobile Feature Headline</h4>
						<p>Mobile images have a narrower width than the default layout, helping the whole image fit in the browser's vertical height.</p>
					</div>
					<div class="mobileImageContainer">
						<img src="../design-system/images/placeholder/mobile.png" alt="Unless the image is decorative, add alt text 5.">
					</div>
				</div>
			</div>
		</section>

		<section class="featureSection">
			<div class="wrapper">
				<h3>Feature Section</h3>
				<div class="group featureGroup">
					<div class="description">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text.">
						<h4>Feature Headline</h4>
						<p>Feature sections place more emphasis on the content you want to highlight.</p>
						<p class="meta"><a href="https://github.com/scidsg/design-system/blob/main/design-system/components/content/html/feature-section.html" target="_blank" rel="noopener noreferrer">View Component</a></p>
					</div>
					<img src="../design-system/images/placeholder/image.png" alt="Unless the image is decorative, add alt text 1.">
				</div>
			</div>
		</section>

		<section id="section2">
			<div class="wrapper">
				<h3>Secondary Section</h3>
				<div class="description">
					<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 6.">
					<h4><a href="#" target="_blank" rel="noopener noreferrer">Linked Headline</a></h4>
					<p class="meta">Metadata</p>
					<p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. </p>
					<p class="meta"><a href="https://github.com/scidsg/design-system/blob/main/design-system/components/content/html/description-only.html" target="_blank" rel="noopener noreferrer">View Component</a></p>
				</div>
				<div class="description">
					<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 7.">
					<h4><a href="#" target="_blank" rel="noopener noreferrer">Linked Headline With a Button</a></h4>
					<time class="meta" datetime="2021-12-18">December 18, 2021</time>
					<p>"What's happened to me?" he thought. It wasn't a dream.</p>
					<!-- Whether the Secondary button should be <a> or <button> depends on the action of the element.
						If clicking it takes to another page or another section of the page, then it is a link.
						If clicking it opens a modal, changes a tab, or some other UI change in the same page, then it is a button -->
					<a class="btn smBtn" href="#" target="_blank" rel="noopener noreferrer">Secondary Button</a>
				</div>
				<div class="description">
					<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 8.">
					<h4><a href="#" target="_blank" rel="noopener noreferrer">A Longer and Super Compelling Headline for an Article</a></h4>
					<p class="meta">By Art Vandelay</p>
					<p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
				</div>
			</div>
		</section>

		<section class="cardSection">
			<div class="wrapper">
				<h3>Tertiary Section</h3>
				<div class="groupRow card">
					<div class="description">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 9.">
						<h4>Important Info but Lower Priority</h4>
						<p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
						<p class="meta"><a href="https://github.com/scidsg/design-system/blob/main/design-system/components/content/html/card-group.html" target="_blank" rel="noopener noreferrer">View Component</a></p>
					</div>
					<div class="description">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 10.">
						<h4>Shorter Headlines Work Better</h4>
						<p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer.</p>
					</div>
					<div class="description">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 11.">
						<h4>Headline</h4>
						<p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="cardSection">
			<div class="wrapper">
				<h3>Tertiary Section</h3>
				<div class="groupRow card">
					<div class="description">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 10.">
						<h4>Shorter Headlines Work Better</h4>
						<p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer.</p>
						<div class="cols">
							<div>
								<ul>
									<li>List Item 1</li>
									<li>List Item 2</li>
									<li>List Item 3</li>
								</ul>
							</div>
							<div>
								<ul>
									<li>List Item 4</li>
									<li>List Item 5</li>
									<li>List Item 6</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="description">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 10.">
						<h4>Shorter Headlines Work Better</h4>
						<p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer.</p>
						<div class="cols">
							<div>
								<ul>
									<li>List Item 1</li>
									<li>List Item 2</li>
									<li>List Item 3</li>
								</ul>
							</div>
							<div>
								<ul>
									<li>List Item 4</li>
									<li>List Item 5</li>
									<li>List Item 6</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="featureSection">
			<div class="wrapper">
				<div class="group featureGroup">
					<div class="description">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text.">
						<h3>Feature Section</h3>
						<p>Feature sections place more emphasis on the content you want to highlight.</p>
						<p class="meta"><a href="https://github.com/scidsg/design-system/blob/main/design-system/components/content/html/feature-section.html" target="_blank" rel="noopener noreferrer">View Component</a></p>
						<a class="btn btnLrg primaryBtn" href="https://github.com/scidsg/design-system" target="_blank" rel="noopener noreferrer">Contribute</a>
					</div>
					
				</div>
			</div>
		</section>

		<section>
			<div class="wrapper">
				<h3>Tertiary Section</h3>
				<div class="groupRow">
					<div class="description">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 9.">
						<h4>Important Info but Lower Priority</h4>
						<p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
						<p class="meta"><a href="https://github.com/scidsg/design-system/blob/main/design-system/components/content/html/content-row.html" target="_blank" rel="noopener noreferrer">View Component</a></p>
					</div>
					<div class="description">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 10.">
						<h4>Shorter Headlines Work Better</h4>
						<p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer.</p>
					</div>
					<div class="description">
						<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 11.">
						<h4>Headline</h4>
						<p>Gregor then turned to look out the window at the dull weather.</p>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="wrapper">
				<h3>Personal Section</h3>
				<div class="description">
					<img class="avatar" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 12.">
					<p>Drops of rain could be heard hitting the pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all this nonsense", he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that position.</p>
					<p class="meta"><a href="https://github.com/scidsg/design-system/blob/main/design-system/components/content/html/about.html" target="_blank" rel="noopener noreferrer">View Component</a></p>
				</div>
			</div>
		</section>

		<section id="contact">
			<div class="wrapper">
				<h3 id="updatethis">Section Heading</h3>
				<div class="description">
					<p>However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.</p>
					<ul aria-labelledby="updatethis">
						<li>💻&nbsp;&nbsp;<a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fglenn-sorrentino.github.io%2Fdesign-system%2F" target="_blank" rel="noopener noreferrer">HTML Validator</a></li>
						<li>🎨&nbsp;&nbsp;<a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fglenn-sorrentino.github.io%2Fdesign-system%2F&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en" target="_blank" rel="noopener noreferrer">CSS Validator</a></li>
						<li>🦮&nbsp;&nbsp;<a href="https://wave.webaim.org/report#/https://glenn-sorrentino.github.io/design-system/" target="_blank" rel="noopener noreferrer">WAVE Accessibility Tool</a></li>
					</ul>
					<p class="meta"><a href="https://github.com/scidsg/design-system/blob/main/design-system/components/content/html/contact.html" target="_blank" rel="noopener noreferrer">View Component</a></p>
				</div>
			</div>
		</section>

	</main>

	<footer>
		<div class="wrapper">
			<p><a property="dct:title" href="https://github.com/glenn-sorrentino/design-system" target="_blank" rel="cc:attributionURL noopener noreferrer">Simple Design System</a> by <a property="cc:attributionName" href="https://glennsorrentino.com/" target="_blank" rel="cc:attributionURL dct:creator noopener noreferrer">Glenn Sorrentino</a> is licensed under <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC BY 4.0</a></p>
			<p><a href="https://github.com/glenn-sorrentino/design-system/blob/main/design-system/components/footer/html/footer.html" target="_blank" rel="noopener noreferrer">View Component Code</a></p>
		</div>
	</footer>

</body>

</html>
