<!doctype html>

<!-- Hey there! Thanks for taking a closer look at the code 😎
This project is a work IN-PROGRESS! If you'd like to help make
it better  - i.e. more accessible, align closer with
W3C/WHATWG Standards, etc - please consider contributing 🙏 -->

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="Glenn Sorrentino">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <meta http-equiv="onion-location" content="http://egonv4vxnya3qlycvsaxfr2vostxmwrq6omjzukzik6vvbicie6pdwyd.onion/" /> --> <!-- Use the meta tag for your onion address if your hosting provider restricts changing your server's content security headers. -->
	<meta name="description" content="The Simple Design System is a research-based framework for creating lightweight, usable, accessible, and beautiful web experiences."> <!-- Keep the description to around 20 words or 150 characters so it displays fully on Google search results. -->

	<title>Sign In - Simple Design System</title>

	<link rel="icon" type="image/x-icon" href="../design-system/images/favicon/favicon.ico">
	<link rel="stylesheet" href="../design-system/css/style.css">

	<script src="../design-system/js/jquery-min.js"></script>
	<script src="../design-system/js/design-system.js"></script>
</head>

<body class="loginBody">

	<main id="content">

		<section id="login">
			<div class="wrapper card">
				<img class="icon" src="../design-system/images/placeholder/circle.png" alt="Unless the image is decorative, add alt text 10.">
				<h2>Log in to Science & Design!</h2>
				<div class="description">
					<label>Username</label>
					<input type="email" name="" placeholder="your@email.com">
					<label>Password</label>
					<input type="password" name="">
					<input type="submit" class="btn primaryBtn" value="Log In">
				</div>
				<p class="meta"><a href="https://joinmastodon.org/servers" target="_blank" rel="noopener noreferrer">New User? Sign Up</a></p>
				<p class="meta"><a href="#" target="_blank" rel="noopener noreferrer">Privacy Policy</a></p>
			</div>
		</section>

	</main>

</body>

</html>
